<% @title_bar_right_text = '<a href="' + new_ad_format_path + '"><img alt="" src="/images/icons/add.png"></a> ' + (link_to "Create New Ad Format", new_ad_format_path) %>
<% title "Ad Formats" %>

<br clear="all">

<table class="record_listing" width="500">
  <tr class="record_listing_header">
    <th>Ad Format Name</th>
    <th>Size</th>
    <th colspan="3">Actions</th>
  </tr>
  <% for ad_format in @ad_formats %>
    <tr class="record_row_<%= cycle("odd", "even")%>">
      <td class="record_column"><%=h ad_format.ad_format_name %></td>
      <td class="record_column"><%=h ad_format.size %></td>
      <td class="record_action"><%= link_to "View", ad_format, :action=> :show %></td>
      <td class="record_action"><%= link_to "Edit", edit_ad_format_path(ad_format) %></td>
      <td class="record_action"><%= link_to "Delete", ad_format, :confirm => 'Are you sure?', :method => "delete" %></td>
    </tr>
  <% end %>
</table>

