<html>
  <head>
    <title><%= h(yield(:title) || "") %> - Liftium.com</title>
    <%= stylesheet_link_tag 'liftium' %>
    <%= javascript_include_tag "prototype" %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="header">
	<div id="logo"><a href="/" title="Ad Network Optimization and Monetization by Liftium"><img src="/images/logo.black.gradient.gif" alt="Ad Network Optimization and Monetization by Liftium"></a></div>		
    </div>

    <!-- Left Nav -->
    <div id="leftnav">
     <% if !current_user %>
	 <%= link_to "Log In", new_user_session_path %>
     <% else %>
      <div class="navsection">
	    <div class="navsection_header">Publishers</div>
	    <ul>
	    </ul>
       </div>
       <div class="navsection">
	    <div class="navsection_header">Admin</div>
	    <ul>
	    <li><%= link_to "Tags", tags_url %>
	    <li><%= link_to "Tag Generator", tag_generator_url %>	
	    <li><%= link_to "Networks", networks_url %>	
	    <li><%= link_to "Users", users_url %>	
	    <li><%= link_to "Ad Formats", ad_formats_url %>	
	    <li><%= link_to "Publishers", publishers_url %>	
	    </ul>
       </div>
       <div class="navsection">
	    <div class="navsection_header">Account</div>
		<ul>
		  <li><%= link_to "My Account", account_path %>
		  <li><%= link_to "Logout", user_session_path, :method => :delete %>
		</ul>
	    </div>
       </div>
     <% end %>

    </div>
   
   
    <!-- Main content -->
    <div id="container">
      <%- if show_title_bar? -%>
        <div id="titlebar">
		<%- if @title_bar_right_text -%>
		<div id="title_bar_right_text"><%= @title_bar_right_text %></div>
      		<%- end -%>
		<h1><%=h yield(:title) %></h1>
	</div>
      <%- end -%>
      <div id="content">
	<br clear="all"><!-- I hate CSS float -->

       <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <%- end -%>
      
      <%= yield %>
      </div><!-- content -->
    </div><!-- container -->
  </body>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-10292921-1");
pageTracker._trackPageview();
} catch(err) {}</script>

</html>
