<p>
  <b>Format name:</b>
  <%=h @adformat.format_name %>
</p>

<p>
  <b>Width:</b>
  <%=h @adformat.width %>
</p>

<p>
  <b>Height:</b>
  <%=h @adformat.height %>
</p>


<%= link_to 'Edit', edit_adformat_path(@adformat) %> |
<%= link_to 'Back', adformats_path %>