<% form_for @network do |f| %>
  <%= f.error_messages %>
  <div class="fieldset">
    <%= f.label :network_name %><br />
    <%= f.text_field :network_name %>
  </div>
  <div class="fieldset">
    <%= f.label :website %><br />
    <%= f.text_field :website %>
  </div>
  <div class="fieldset">
    <%= f.label :pay_type %><br />
    <%= select("network", "pay_type", @network.pay_types, {:include_blank => true}) %>
  </div>
  <div class="fieldset">
    <%= f.label :brand_safety_level %> <span class="hint">1=janky, 10=Text</span><br />
    <%= select("network", "brand_safety_level", [1,2,3,4,5,6,7,8,9,10], {:include_blank => true}) %>
  </div>
  <div class="fieldset">
    <%= f.label :enabled, nil, :class => "label_for_radio" %>
    <%= radio_button "network", "enabled", "true"%>Yes
    <%= radio_button "network", "enabled", "false"%>No
  </div>
  <div class="fieldset">
    <%= f.label :supports_threshold, "Supports price floor", :class => "label_for_radio" %>
    <%= radio_button "network", "supports_threshold", "true"%>Yes
    <%= radio_button "network", "supports_threshold", "false"%>No
  </div>
  <div class="fieldset">
    <%= f.label :default_to_always_fill, nil, :class => "label_for_radio" %>
    <%= radio_button "network", "default_always_fill", "true"%>Yes
    <%= radio_button "network", "default_always_fill", "false"%>No
    <span class="hint">when creating a new tag</span>
  </div>
  <div class="fieldset">
    <%= f.label :us_only, "United States Only", :class => "label_for_radio" %>
    <%= radio_button "network", "us_only", "true"%>Yes
    <%= radio_button "network", "us_only", "false"%>No
  </div>
  <div class="fieldset">
    <%= f.label :contact_info, "Contact Information" %><br />
    <%= f.text_area :contact_info, {:rows => 5} %><br />
    <span class="hint">Account Reps, etc.</span>
  </div>
  <div class="fieldset">
    <%= f.label :billing_info, "Billing Information" %><br />
    <%= f.text_field :billing_info, {:rows => 5} %><br />
    <span class="hint">Net 30, Net 60, etc.</span>
  </div>
  <div class="fieldset">
    <%= f.label :scraping_instructions %><br />
    <%= f.text_area :scraping_instructions, {:rows => 5} %><br />
    <span class="hint">Where/How to login for reporting information</span>
  </div>
  <div class="fieldset">
    <%= f.label :comments, "Other Comments" %><br />
    <%= f.text_area :comments, {:rows => 5} %><br />
  </div>
  <a name="tag_template">
  <div class="fieldset">
    <%= f.label :tag_template %><br />
    <%= f.text_area :tag_template , :class => "tag_input"%>
  </div>
  </a>

  <div class="subform" id="network_tag_options_subform">
  <div id="network_tag_options">
  <% f.fields_for :network_tag_options do |network_tag_options_form| %>
    <%= render :partial => 'network_tag_option', :locals=>{:f => network_tag_options_form} %>
  <% end %>
  </div>
  <%= link_to_new_nested_form "Add a tag option", f, :network_tag_options %>
  </div>

  <p><%= liftium_submit "Save Changes" %></p>
<% end %>
