<% @title_bar_right_text = '<a href="' + new_network_path + '"><img alt="" src="/images/icons/add.png"></a> ' + (link_to "Create New Ad Network", new_network_path) %>

<% title "Ad Networks" %>
<br clear="all">

<table class="record_listing" width="800">
  <tr class="record_listing_header">
    <th>Network Name</th>
    <th>Pay Type</th>
    <th>Enabled</th>
    <th>Supports Floor</th>
    <th>US Only</th>
    <th>Brand Safety</th>
    <th>Preview</th>
    <th colspan="3">Actions</th>
  </tr>
  <% for network in @networks %>

    <!-- this may be slow on a lot of publishers. is there a better way? -->
    <% tags = Tag.find( :all, :conditions => {
                        :network_id => network.id,
                        :enabled    => true
                    })  
    %>

    <tr class="record_row_<%= cycle("odd", "even")%>">
      <td class="record_column"><%=h network.network_name %></td>
      <td class="record_column"><%=h network.pay_type %></td>
      <td class="record_column"><%= network.enabled ? image_tag("/images/icons/tick.png") : image_tag("/images/icons/cross.png") %></td>
      <td class="record_column"><%= network.supports_threshold ? image_tag("/images/icons/tick.png") : "-" %></td>
      <td class="record_column"><%= network.us_only ? image_tag("/images/icons/tick.png") : "-" %></td>
      <td class="record_column"><%=h network.brand_safety_level ? network.brand_safety_level : "N/A" %></td>
      <td class="record_column"><%= link_to tags.size.to_s + " ads", :controller => "networks", :action => :ad_preview, :id => network %></td>
      <td class="record_action"><%= link_to "View", network, :action=> :show %></td>
      <td class="record_action"><%= link_to "Edit", edit_network_path(network) %></td>
      <td class="record_action"><%= link_to "Delete", network, :confirm => 'Are you sure?', :method => "delete" %></td>
    </tr>
  <% end %>
</table>

