<% title "Network - " + @network.network_name %>
<p>
  <strong>Website:</strong>
  <a href="<%=h @network.website %>" target="_blank"><%=h @network.website %></a>
</p>
<p>
  <strong>Pay Type:</strong>
  <%=h @network.pay_type %>
</p>
<p>
  <strong>Enabled:</strong>
  <%=h @network.enabled_s %>
</p>
<p>
  <strong>Brand Safety Level:</strong>
  <%=h @network.brand_safety_level %>
</p>
<p>
  <strong>Supports Floor (backup/default tags):</strong>
  <%=h @network.supports_threshold_s %>
</p>
<p>
  <strong>Default Always Fill:</strong>
  <%=h @network.default_always_fill_s %>
</p>
<p>
  <strong>United States Only:</strong>
  <%=h @network.us_only_s %>
</p>
<p>
  <strong>Comments:</strong>
  <%=h @network.comments %>
</p>
<p>
  <strong>Contact Info:</strong>
  <%=h @network.contact_info %>
</p>
<p>
  <strong>Billing Info:</strong>
  <%=h @network.billing_info %>
</p>
<p>
  <strong>Scraping Instructions:</strong>
  <%=h @network.scraping_instructions %>
</p>
<p>
  <strong>Tag Template:</strong><br />
  <%= pretty_tag @network.tag_template %>
</p>
<p>
  <%= link_to "Edit", edit_network_path(@network) %> |
  <%= link_to "Delete", @network, :confirm => 'Are you sure?', :method => :delete, :action => "destroy" %> |
  <%= link_to "View All", networks_path %>
</p>
