<% form_for @user do |f| %>
  <%= f.error_messages %>
  <div class="fieldset">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="fieldset">
    <%= f.label :crypted_password %><br />
    <%= f.text_field :crypted_password %>
  </div>
  <div class="fieldset">
    <%= f.label :password_salt %><br />
    <%= f.text_field :password_salt %>
  </div>
  <div class="fieldset">
    <%= f.label :persistence_token %><br />
    <%= f.text_field :persistence_token %>
  </div>
  <div class="fieldset">
    <%= f.label :single_access_token %><br />
    <%= f.text_field :single_access_token %>
  </div>
  <div class="fieldset">
    <%= f.label :perishable_token %><br />
    <%= f.text_field :perishable_token %>
  </div>
  <div class="fieldset">
    <%= f.label :login_count %><br />
    <%= f.text_field :login_count %>
  </div>
  <div class="fieldset">
    <%= f.label :failed_login_count %><br />
    <%= f.text_field :failed_login_count %>
  </div>
  <div class="fieldset">
    <%= f.label :current_login_at %><br />
    <%= f.datetime_select :current_login_at %>
  </div>
  <div class="fieldset">
    <%= f.label :last_login_at %><br />
    <%= f.datetime_select :last_login_at %>
  </div>
  <div class="fieldset">
    <%= f.label :current_login_ip %><br />
    <%= f.text_field :current_login_ip %>
  </div>
  <div class="fieldset">
    <%= f.label :last_login_ip %><br />
    <%= f.text_field :last_login_ip %>
  </div>
  <p><%= liftium_submit "Save Changes" %></p>
<% end %>
