<% form_for @user do |f| %>
  <%= f.error_messages %>
  <div class="fieldset">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="fieldset">
    <%= f.label :publisher %><br />
  <p>
    <% @publishers = Publisher.find :all %>
    <%= collection_select(:user, :publisher_id, @publishers, :id, :site_name, :include_blank => true) %>
  </p>

  </div>
  <p><%= liftium_submit "Save Changes" %></p>
<% end %>
