<h1>Listing network_options</h1>

<table>
  <tr>
    <th>Option name</th>
  </tr>

<% @network_options.each do |network_option| %>
  <tr>
    <td><%=h network_option.option_name %></td>
    <td><%= link_to 'Show', network_option %></td>
    <td><%= link_to 'Edit', edit_network_option_path(network_option) %></td>
    <td><%= link_to 'Destroy', network_option, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New network_option', new_network_option_path %>