<% form_for @tag_target do |f| %>
  <%= f.error_messages %>
  <div class="fieldset">
    <%= f.label :key_name %><br />
    <%= f.text_field :key_name %>
  </div>
  <div class="fieldset">
    <%= f.label :key_value %><br />
    <%= f.text_field :key_value %>
  </div>
  <p><%= liftium_submit "Save Changes" %></p>
<% end %>
