<% @title_bar_right_text = '<a href="' + new_tag_target_path + '"><img alt="" src="/images/icons/add.png"></a> ' + (link_to "Create New Tag Target", new_tag_target_path) %>

<% title "Tag Targets" %>

<br clear="all"/>

<table class="record_listing" width="500" cellspacing="0" cellpadding="0"><!-- Cellspacing/paddding added for IE 6 -->
  <tr class="record_listing_header">
    <th>Key Name</th>
    <th>Key Value</th>
    <th colspan="3">Actions</th>
  </tr>
  <% for tag_target in @tag_targets %>
    <tr class="record_row_<%= cycle("odd", "even")%>">
      <td class="record_column"><%=h tag_target.key_name %></td>
      <td class="record_column"><%=h tag_target.key_value %></td>
      <td class="record_action"><%= link_to "View", tag_target, :action=> :show %></td>
      <td class="record_action"><%= link_to "Edit", edit_tag_target_path(tag_target) %></td>
      <td class="record_action"><%= link_to "Delete", tag_target, :confirm => 'Are you sure?', :method => "delete" %></td>
    </tr>
  <% end %>
</table>

