<% @title_bar_right_text = '<a href="' + new_network_tag_option_path + '"><img alt="" src="/images/icons/add.png"></a> ' + (link_to "Create New Network Tag Option", new_network_tag_option_path) %>

<% title "Network Tag Options" %>

<br clear="all"/>

<table class="record_listing" width="500" cellspacing="0" cellpadding="0"><!-- Cellspacing/paddding added for IE 6 -->
  <tr class="record_listing_header">
    <th>Network</th>
    <th>Option Name</th>
    <th>Required</th>
    <th colspan="3">Actions</th>
  </tr>
  <% for network_tag_option in @network_tag_options %>
    <tr class="record_row_<%= cycle("odd", "even")%>">
      <td class="record_column"><%=h network_tag_option.network.network_name %></td>
      <td class="record_column"><%=h network_tag_option.option_name %></td>
      <td class="record_column"><%= network_tag_option.required ? image_tag("/images/icons/tick.png") : "-" %>
      <td class="record_action"><%= link_to "View", network_tag_option, :action=> :show %></td>
      <td class="record_action"><%= link_to "Edit", edit_network_tag_option_path(network_tag_option) %></td>
      <td class="record_action"><%= link_to "Delete", network_tag_option, :confirm => 'Are you sure?', :method => "delete" %></td>
    </tr>
  <% end %>
</table>

