<% form_for @tag_option do |f| %>
  <%= f.error_messages %>
  <div class="fieldset">
    <%= f.label :option_name %><br />
    <%= f.text_field :option_name %>
  </div>
  <div class="fieldset">
    <%= f.label :option_value %><br />
    <%= f.text_field :option_value %>
  </div>
  <p><%= liftium_submit "Save Changes" %></p>
<% end %>
