<% @title_bar_right_text = '<a href="' + new_tag_option_path + '"><img alt="" src="/images/icons/add.png"></a> ' + (link_to "Create New Tag Option", new_tag_option_path) %>

<% title "Tag Options" %>

<br clear="all"/>

<table class="record_listing" width="500" cellspacing="0" cellpadding="0"><!-- Cellspacing/paddding added for IE 6 -->
  <tr class="record_listing_header">
    <th>Option Name</th>
    <th>Option Value</th>
    <th colspan="3">Actions</th>
  </tr>
  <% for tag_option in @tag_options %>
    <tr class="record_row_<%= cycle("odd", "even")%>">
      <td class="record_column"><%=h tag_option.option_name %></td>
      <td class="record_column"><%=h tag_option.option_value %></td>
      <td class="record_action"><%= link_to "View", tag_option, :action=> :show %></td>
      <td class="record_action"><%= link_to "Edit", edit_tag_option_path(tag_option) %></td>
      <td class="record_action"><%= link_to "Delete", tag_option, :confirm => 'Are you sure?', :method => "delete" %></td>
    </tr>
  <% end %>
</table>

