<% title "Tag Option" %>

<p>
  <strong>Option Name:</strong>
  <%=h @tag_option.option_name %>
</p>
<p>
  <strong>Option Value:</strong>
  <%=h @tag_option.option_value %>
</p>

<p>
  <%= link_to "Edit", edit_tag_option_path(@tag_option) %> |
  <%= link_to "Delete", @tag_option, :confirm => 'Are you sure?', :method => :delete, :action => "destroy" %> |
  <%= link_to "View All", tag_options_path %>
</p>
