<%= form.label :email %><br />
<%= form.text_field :email %><br />

  <p>
    <% @publishers = Publisher.find :all %>
    <%= form.label :publisher %><br />
    <%= collection_select(:user, :publisher_id, @publishers, :id, :publisher_name, :include_blank => true) %>
  </p>

<br />
<%= form.label :password, form.object.new_record? ? nil : "Change password" %><br />
<%= form.password_field :password %><br />
<br />
<%= form.label :password_confirmation %><br />
<%= form.password_field :password_confirmation %><br />
