<%= form.label :email %><br />
<%= form.text_field :email %><br />

<% # FIXME: Shouldn't be user editable - Martel DuVigneaud 2009-09-20 %>
<br />
<% if @current_user.admin? %>
<%= form.check_box :admin %>
<%= form.label :admin %><br />
<% end %>

  <p>
    <% @publishers = Publisher.find :all %>
    <%= form.label :publisher %><br />
    <%= collection_select(:user, :publisher_id, @publishers, :id, :publisher_name, :include_blank => true) %>
  </p>

<br />
<%= form.label :password, form.object.new_record? ? nil : "Change password" %><br />
<%= form.password_field :password %><br />
<br />
<%= form.label :password_confirmation %><br />
<%= form.password_field :password_confirmation %><br />
