<% form_for @user do |f| %>
  <%= f.error_messages %>
  <div class="fieldset">
    <%= f.label :email %><br />
    <%= f.text_field :email, {:style=> "width: 200px"} %>
  </div>
  <div class="fieldset">
    <%= f.label :admin, "Administrator" %>
    <%= radio_button "user", "admin", "true"%>Yes
    <%= radio_button "user", "admin", "false"%>No
  </div>
  <div class="fieldset">
    <%= f.label :publisher %><br />
    <% @publishers = Publisher.find :all %>
    <%= collection_select(:user, :publisher_id, @publishers, :id, :site_name, :include_blank => true) %>
  </div>
  <div class="fieldset">
    <%= f.label :password %><br />
    <%= f.password_field :password,  {:style=> "width: 200px"}%>
  </div>
  <div class="fieldset">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation,  {:style=> "width: 200px"}%>
  </div>
  <p><%= liftium_submit "Save Changes" %></p>
<% end %>
