<% title "Tag Generator" %>

<% # FIXME: How do I put this in the model?

    # Get the list of publishers for admin users
    @publishers = Publisher.find :all;
%>


<script>
function generateTag(f) {
  try {
	var pubid = $("pubid_").value;
	if (pubid == ""){
		alert("You must select a publisher to continue.");	
		return false;
	}
	var size = $("size_").value;
	if (size == ""){
		alert("You must select a size to continue.");	
		return false;
	}

	comments = $("comments").checked;
	var t='';
	if (comments){
		t += '<!-- Begin Liftium set up -->\n' +
		     'This only needs to appear once on your page, anywhere above the tag is ok. -->\n';
	}

	t += '<script>LiftiumOptions = {pubid:' + pubid + '}</\script>\n' +
	    '<script src="http://cdn.liftium.com/js/Liftium.js"><\/script>\n';

	if (comments){ t += '<!-- End Liftium set up -->\n'; }
	if (comments){ t += '<!-- Display Tag. Put this in the exact place where you want the ad -->\n'; }
	t += '<script>Liftium.callAd("' + size + '")<\/script>';

	$("tag").value = t;

	if ($("preview").checked){
		doPreview();
	}

	return false;
  } catch (e) {
	alert("Tag Generator Error " + e.message);
	return false;
  }
}

function doPreview(){
	var size = $("size_").value;
	var h = '<a href="javascript:doPreview()">Reload Preview</a><br />\n';
	var dim = size.match(/^([0-9]{2,4})x([0-9]{2,4})/);
	if (! dim){
		return false;
	}

	h += '<div style="width:' + dim[1] + 'px;height:' + dim[2] + 'px;border:1px dashed #660099"></div>';
	$("preview_tag").update(h);

	var iframe = document.createElement('IFRAME');
	iframe.width=dim[1];
	iframe.height=dim[2];
	iframe.border=1;
	document.getElementById("preview_tag").appendChild(iframe);
	var w;
	if (iframe.contentDocument) {
		// For NS6
		w = iframe.contentDocument; 
	} else if (iframe.contentWindow) {
		// For IE5.5 and IE6
		w = iframe.contentWindow.document;
	} else if (iframe.document) {
		// For IE5
		w = iframe.document;
	} else {
		return true;
	}
	w.innerHTML = "blarrrrrrr"; 
	w.innerHTML += "more BLARRRRRRRRR";
	
}
</script>

<form onSubmit="return generateTag(this);">
  <div class="fieldset">
    <%= label_tag :publisher, nil, :class => "left_label" %>
    <%= collection_select("pubid", "", @publishers, :id, :site_name, :include_blank => true) %>
  </div>
  <div class="fieldset">
    <%= label_tag :size, nil, :class => "left_label" %>
    <%= select("size", "", AdFormat.all.collect {|af| [ af.name_with_size, af.size ] }, :include_blank=>true) %>
  </div>
  <div class="fieldset">
    <%= label_tag :options, nil, :class => "left_label" %><br />
    <%= check_box_tag("comments", 1, true) %><%= label_tag :comments, "Helpful comments" %> 
    <%= check_box_tag("preview", 1, true) %><%= label_tag :preview, "Show Preview" %>
  </div>
  <div class="fieldset" id="tag_template_fieldset">
    <%= label_tag :tag %><br />
    <%= text_area_tag :tag, nil, :class => "tag_input", :style => "font-family:monospace" %>
  </div>
  <p><%= liftium_submit "Generate Tag" %></p>
</form>
<div id="preview_tag"></div>
