<% @title_bar_right_text = '<a href="' + new_tag_path + '"><img alt="" src="/images/icons/add.png"></a> ' + (link_to "Create New Tag", new_tag_path) %>

<% title "Tags" %>

<div class="filter_form" id="tag_filter_form">
  <form>
     <ul>
	<% if params[:debug] -%>
	  <%= params.inspect -%>
	<% end -%>
	<li><%= label_tag :publisher %>
	    <!-- FIXME. Use built in rails helper instead? -->
	    <select name="publisher_id" id="publisherDD">
	      <option value="">
	      <%= options_from_collection_for_select Publisher.all.collect, :id, :site_name, params[:publisher_id].to_i %>
	    </select>
	</li>

	<li><%= label_tag :network %>
	    <select name="network_id" id="networkDD">
	      <option value="">
	      <%= options_from_collection_for_select Network.all.collect, :id, :network_name_and_id, params[:network_id].to_i %>
	    </select>
	</li>

	<li><%= label_tag :size %>
	    <select name="size" id="sizeDD">
	      <option value="">
	      <%= options_from_collection_for_select AdFormat.all.collect, :size, :name_with_size, params[:size] %>
	    </select>
	</li>

	<li><%= label_tag "Tag name or ID" %>
	    <%= text_field_tag :name_search, params[:name_search] %>
	</li>

	<li><%= label_tag :include_disabled, "Include Disabled Tags"%>
	    <%= radio_button_tag "include_disabled", "true", !params[:include_disabled].blank?%>Yes
	    <%= radio_button_tag "include_disabled", "", params[:include_disabled].blank?%>No
	</li>

	<li><%= liftium_submit "Filter Tags"%></li>
  </form>
</div>

<table class="record_listing" width="800" cellpadding="0" cellspacing="0">

  <tr class="record_listing_header">
    <th>Publisher</th>
    <th>Network</th>
    <th>Tag</th>
    <th>Tier</th>
    <th>Value</th>
    <th>Criteria</th>
    <th colspan="4">Actions</th>
    <th colspan="2">Fill Rate (last hour)</th>
  </tr>

<%  @tier_to_color = {
        1   => '#60FC6F',   # light green
        2   => '#50A91E',   # dark green
        3   => '#FEDFAC',   # salmon
        4   => '#FFDB17',   # yellow
        5   => '#FBA80D',   # dark yellow
        6   => '#FC7435',   # orange
        7   => '#D15E63',   # pinkish red
        8   => '#A9FAF4',   # teal
        9   => '#B2CFEC',   # blueish
        10  => '#BB28FF',   # purple
    }
%>

  <% for tag in @tags %>
   <%- if tag.enabled %>
    <tr class="record_row_<%= cycle("odd", "even")%>">
   <%-else%>
    <tr class="disabled" background="/images/disabled_bg.png">
   <%-end%>
      <td nowrap="true" class="record_column"><%= !tag.publisher.nil? ? tag.publisher.site_name : "<i>No publisher</i>"%></td>
      <td nowrap="true" class="record_column">
   	    <%=h tag.network.network_name_and_id %></td>
      <td nowrap="true" class="record_column">
 	    <%= tag.tag_name + " (id: " + tag.id.to_s + ") "  %><br />
        <span style="font-size: smaller">
        <%= tag.size %>
        <%= tag.sample_rate ? "- sampled #{tag.sample_rate}%" : "" %>
        </span>
      </td>
      <td class="record_column_number" bgcolor="<%= "#{@tier_to_color[tag.tier]}" %>"><%=h tag.tier ? tag.tier : "-"%></td>
      <td class="record_column_number">$<%=h tag.value ? tag.value_s : "-"%></td>
      <td class="record_column" style="font-size:smaller">
	<%= tag.frequency_cap ? "Freq. cap - #{tag.frequency_cap}<br />" : ""%>
	<%= tag.rejection_time ? "Rej. time  - #{tag.rejection_time}<br />" : ""%>
        <% for criteria in tag.tag_targets do -%>
	  <%=h criteria.key_name + ": " + criteria.key_value %><br />
	<% end -%>
        &#160; <!-- So the border shows up when there is no criteria -->

      <td class="record_action"><%= link_to "View", tag, :action=> :show %></td>
      <td class="record_action"><%= link_to "Edit", edit_tag_path(tag) %></td>
      <td class="record_action"><%= link_to "Delete", tag, :confirm => 'Are you sure?', :method => "delete" %></td>
	<!-- FIXME: Use correct rails link helper -->
      <td class="record_action"><%= link_to "Copy", "/tags/copy/#{tag.id}" %></td>
      <td class="record_action">
      <% if tag.enabled %>
	  <a href="<%=h url_for :controller => 'charts', :action => 'tag', :id => tag.id %>"><img src="<%= tag_sparkline_url tag, "1h"%>" width="50" height="25"/></a>
      <% end %>
      </td>
      <td class="record_action" style="font-size:smaller" nowrap="true">
	<% fill_stats = tag.get_fill_stats("last 60 minutes")%>
	<%- if fill_stats[:attempts] > 0 %>
	  <%= fill_stats[:attempts].to_s + " attempts "%><br />
	  <span style="<%= fill_stats[:fill_rate].to_i < 15 ? "color:red" : "" %>">
	  <%= fill_stats[:fill_rate].to_s + "% filled" %>
	  </span>
	<%- else %>
	   0 attempts
	<%- end %>
      </td>
    </tr>
  <% end %>

</table>
