<% @title_bar_right_text = '<a href="' + new_tag_path + '"><img alt="" src="/images/icons/add.png"></a> ' + (link_to "Create New Tag", new_tag_path) %>

<% title "Tags" %>

<br clear="all"/>

<table class="record_listing" width="800" cellpadding="0" cellspacing="0">
  <tr class="record_listing_header">
    <th>Publisher</th>
    <th>Tag</th>
    <th>Tier</th>
    <th>Value</th>
    <th>Enabled</th>
    <th>Sampled</th>
    <th>Freq Cap</th>
    <th>Rej Time</th>
    <th colspan="4">Actions</th>
    <th>Fill Rate</th>
  </tr>
  <% for tag in @tags %>
    <tr class="record_row_<%= cycle("odd", "even")%>">
      <td nowrap="true" class="record_column"><%=h tag.publisher.site_name %></td>
      <td nowrap="true" class="record_column">
	<%=h tag.network.network_name %> - <%= tag.tag_name %><br />
	<%= tag.size %>
      </td>
      <td class="record_column"><%=h tag.tier %></td>
      <td class="record_column">$<%=h tag.value %></td>
      <td class="record_column"><%= tag.enabled ? image_tag("/images/icons/tick.png") : image_tag("/images/icons/cross.png") %></td>
      <td class="record_column"><%=h tag.sample_rate %></td>
      <td class="record_column"><%=h tag.frequency_cap %></td>
      <td class="record_column"><%=h tag.rejection_time %></td>
      <td class="record_action"><%= link_to "View", tag, :action=> :show %></td>
      <td class="record_action"><%= link_to "Edit", edit_tag_path(tag) %></td>
      <td class="record_action"><%= link_to "Delete", tag, :confirm => 'Are you sure?', :method => "delete" %></td>
	<!-- FIXME: Use correct rails link helper -->
      <td class="record_column"><%= link_to "Copy", "/tags/copy/#{tag.id}" %></td>
      <td class="record_action">
	<a href="<%=h url_for :controller => 'charts', :action => 'tag', :id => tag.id %>"><img src="http://rgraph.liftium.com/sparkline?net=<%=tag.network_id%>&tag=<%=tag.id%>&range=15m&width=50&height=25" width="50" height="25"/></a></td>
    </tr>
  <% end %>
</table>
