<% @title_bar_right_text = '<a href="' + new_tag_path + '"><img alt="" src="/images/icons/add.png"></a> ' + (link_to "Create New Tag", new_tag_path) %>

<% title "Tags" %>

<div class="filter_form" id="tag_filter_form">
  <form>
     <ul>
	<% if params[:debug] -%>
	  <%= params.inspect -%>
	<% end -%>
	<li><%= label_tag :publisher %>
	    <!-- FIXME. Use built in rails helper instead? -->
	    <select name="publisher_id" id="publisherDD">
	      <option value="">
	      <%= options_from_collection_for_select Publisher.all.collect, :id, :site_name, params[:publisher_id].to_i %>
	    </select>
	</li>

	<li><%= label_tag :network %>
	    <select name="network_id" id="networkDD">
	      <option value="">
	      <%= options_from_collection_for_select Network.all.collect, :id, :network_name, params[:network_id].to_i %>
	    </select>
	</li>

	<li><%= label_tag :size %>
	    <select name="size" id="sizeDD">
	      <option value="">
	      <%= options_from_collection_for_select AdFormat.all.collect, :size, :name_with_size, params[:size] %>
	    </select>
	</li>

	<li><%= label_tag :tag_name %>
	    <%= text_field_tag :name_search, params[:name_search] %>
	</li>

	<li><%= label_tag :include_disabled, "Include Disabled Tags"%>
	    <%= radio_button_tag "include_disabled", "true", !params[:include_disabled].blank?%>Yes
	    <%= radio_button_tag "include_disabled", "", params[:include_disabled].blank?%>No
	</li>

	<li><%= liftium_submit "Filter Tags"%></li>
  </form>
</div>


<table class="record_listing" width="800" cellpadding="0" cellspacing="0">

  <tr class="record_listing_header">
    <th>Publisher</th>
    <th>Tag</th>
    <th>Tier</th>
    <th>Value</th>
    <th>Criteria</th>
    <th colspan="4">Actions</th>
    <th>Fill Rate</th>
  </tr>

  <% for tag in @tags %>
   <%- if tag.enabled %>
    <tr class="record_row_<%= cycle("odd", "even")%>">
   <%-else%>
    <tr class="disabled" background="/images/disabled_bg.png">
   <%-end%>
      <td nowrap="true" class="record_column"><%=h tag.publisher.site_name %></td>
      <td nowrap="true" class="record_column">
	<%=h tag.network.network_name %> - <%= tag.tag_name %><br />
	<%= tag.size %>
	<%= tag.sample_rate ? "- sampled #{tag.sample_rate}%" : "" %>
      </td>
      <td class="record_column_number"><%=h tag.tier ? tag.tier : "-"%></td>
      <td class="record_column_number">$<%=h tag.value ? tag.value_s : "-"%></td>
      <td class="record_column">
	<%=h tag.frequency_cap ? "Freq. cap - #{tag.frequency_cap}" : ""%>
	<%=h tag.rejection_time ? "Rej. time  - #{tag.rejection_time}" : ""%>
        &#160; <!-- So the border shows up when there is no criteria -->
      <td class="record_action"><%= link_to "View", tag, :action=> :show %></td>
      <td class="record_action"><%= link_to "Edit", edit_tag_path(tag) %></td>
      <td class="record_action"><%= link_to "Delete", tag, :confirm => 'Are you sure?', :method => "delete" %></td>
	<!-- FIXME: Use correct rails link helper -->
      <td class="record_column"><%= link_to "Copy", "/tags/copy/#{tag.id}" %></td>
      <td class="record_action">
	<% if tag.enabled %>
	<a href="<%=h url_for :controller => 'charts', :action => 'tag', :id => tag.id %>"><img src="http://rgraph.liftium.com/sparkline?net=<%=tag.network_id%>&tag=<%=tag.id%>&range=15m&width=50&height=25" width="50" height="25"/></a></td>
	<% end %>
    </tr>
  <% end %>

</table>
