<p>
  <b>Network:</b>
  <%=h @tag.network.network_name %>
</p>

<p>
  <b>Ad Format:</b>
  <% @adformat = Adformat.find(@tag.adformat_id) %>
  <%=h @adformat.name_with_size %>
</p>

<p>
  <b>Tag name:</b>
  <%=h @tag.tag_name %>
</p>

<p>
  <b>Tier:</b>
  <%=h @tag.tier %>
</p>

<p>
  <b>Value:</b>
  $<%=h @tag.value %>
</p>

<p>
  <b>Enabled:</b>
  <%=h @tag.enabled %>
</p>

<p>
  <b>Always fill:</b>
  <%=h @tag.always_fill %>
</p>

<p>
  <b>Sample rate:</b>
  <%=h @tag.sample_rate %>
</p>


<p>
  <b>Frequency cap:</b>
  <%=h @tag.frequency_cap %>
</p>

<p>
  <b>Rejection cap:</b>
  <%=h @tag.rejection_cap %>
</p>

<p>
  <b>Rejection time:</b>
  <%=h @tag.rejection_time %>
</p>

<p>
  <b>Tag:</b>
  <%=h @tag.tag %>
</p>


<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
