<% title "Tag - " + @tag.tag_name %>

<style type="text/css">
<%-if @tag.height.to_i > 400%>
#tag_preview {
	float:left;
	margin-right: 15px;
};
<%-elsif @tag.width.to_i < 400%>
#tag_preview {
	float:right;
};
<%end%>
</style>

<div id="tag_preview" style="<%=@tag.css_size%>;border:1px dashed #660099">
Tag will be here
</div>

<div id="tag_details">
  <strong>Tag Name:</strong>
  <%=h @tag.tag_name %>
</p>
<p>
  <strong>Size:</strong>
  <%=h @tag.size %>
</p>
<p>
  <strong>Value:</strong>
  $<%=h @tag.value %>
</p>
<p>
  <strong>Enabled:</strong>
  <%=h @tag.enabled_s %>
</p>
<p>
  <strong>Always Fill:</strong>
  <%=h @tag.always_fill_s %>
</p>
<p>
  <strong>Sample Rate:</strong>
  <%=h @tag.sample_rate %>
</p>
<p>
  <strong>Tier:</strong>
  <%=h @tag.tier %>
</p>
<p>
  <strong>Frequency Cap:</strong>
  <%=h @tag.frequency_cap %>
</p>
<p>
  <strong>Rejection Time:</strong>
  <%=h @tag.rejection_time %>
</p>
</div>
<br clear="all"/>
  <strong>Tag:</strong><br />
  <textarea class="tag_input"><%=h @tag.tag %></textarea>
</p>
<p>
  <%= link_to "Edit", edit_tag_path(@tag) %> |
  <%= link_to "Delete", @tag, :confirm => 'Are you sure?', :method => :delete, :action => "destroy" %> |
  <%= link_to "View All", tags_path %>
</p>
