<% title "Stat Detail - " + misc_stat_humanize(params["stat"]) %>

<a href="<%=h misc_stat_url params[:stat], "1h" %>"><img src="<%=h misc_stat_url params[:stat], "1h" %>" width="400" /></a>

<a href="<%=h misc_stat_url params[:stat], "1d" %>"><img src="<%=h misc_stat_url params[:stat], "1d" %>" width="400" /></a>

<a href="<%=h misc_stat_url params[:stat], "1w" %>"><img src="<%=h misc_stat_url params[:stat], "1w" %>" width="400" /></a>

<a href="<%=h misc_stat_url params[:stat], "1m" %>"><img src="<%=h misc_stat_url params[:stat], "1m" %>" width="400" /></a>

<a href="<%=h misc_stat_url params[:stat], "1y" %>"><img src="<%=h misc_stat_url params[:stat], "1y" %>" width="400" /></a>
