<h1>Editing tag_option</h1>

<% form_for(@tag_option) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :option_name %><br />
    <%= f.text_field :option_name %>
  </p>
  <p>
    <%= f.label :option_value %><br />
    <%= f.text_field :option_value %>
  </p>
  <p>
    <%= f.label :tagid %><br />
    <%= f.text_field :tagid %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @tag_option %> |
<%= link_to 'Back', tag_options_path %>