<p>
  <b>E-mail:</b>
  <%=h @user.email %>
</p>

<p>
  <b>Is Admin:</b>
  <%=h @user.admin? ? "Yes" : "No" %>
</p>

<p>
  <b>Publisher:</b>
<% if @user.publisher.nil? %>
  All (admin)
<% else %>
  <%=h @user.publisher.publisher_name %>
<% end %>
</p>

<p>
  <b>Login count:</b>
  <%=h @user.login_count %>
</p>

<p>
  <b>Last login at:</b>
  <%=h @user.last_login_at %>
</p>

<p>
  <b>Current login at:</b>
  <%=h @user.current_login_at %>
</p>

<p>
  <b>Last login ip:</b>
  <%=h @user.last_login_ip %>
</p>

<p>
  <b>Current login ip:</b>
  <%=h @user.current_login_ip %>
</p>


<%= link_to 'Edit', edit_account_path %>
