<h1>Listing adformats</h1>

<table>
  <tr>
    <th>Format name</th>
    <th>Width</th>
    <th>Height</th>
  </tr>

<% @adformats.each do |adformat| %>
  <tr>
    <td><%=h adformat.format_name %></td>
    <td><%=h adformat.width %></td>
    <td><%=h adformat.height %></td>
    <td><%= link_to 'Show', adformat %></td>
    <td><%= link_to 'Edit', edit_adformat_path(adformat) %></td>
    <td><%= link_to 'Destroy', adformat, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New adformat', new_adformat_path %>