<% title @title %>

<%  @cur_tags = @tags
    
    if params[:size] and params[:size].length
        @cur_tags = @tags.select {|t| t.size == params[:size] }
    end                
%>
<h2>Showing <%= @cur_tags.size %> of <%= @tags.size %> enabled tags</h2>

<% if @publisher %>
<a href="http://delivery.liftium.com/config?pubid=<%= @publisher.id %>&format=text">View JavaScript Configuration for <%=h @publisher.site_name%></a>
<% end %>

<div class="filter_form" id="tag_filter_form">
  <form>
    <ul>
      <li><%= label_tag :size %>
         <select name="size" id="sizeDD">
            <option value=""></option>
            <% for size in @tags.map {|t| t.size }.uniq.sort %>
              <option value="<%= size %>"<% if params[:size] == size %>selected="selected"<% end %>><%= size %></option>
            <% end %>
          </select>
      </li>
      <li><%= liftium_submit "Filter Tags"%></li>
    </ul>
  </form>
</div>  

<% for tag in @cur_tags %>
    <strong><%= link_to "Tag - " + tag.tag_name, tag, :action => :show %></strong><br>
    <iframe  src="<%= tag.preview_url %>" style="<%= tag.css_size %>;border:1px dashed #660099"></iframe>
    <p>
<% end %>

