<h1>Editing publisher</h1>

<% form_for(@publisher) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :publisher_name %><br />
    <%= f.text_field :publisher_name %>
  </p>
  <p>
    <%= f.label :website %><br />
    <%= f.text_field :website %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @publisher %> |
<%= link_to 'Back', publishers_path %>