<h1>Listing publishers</h1>

<table>
  <tr>
    <th>Publisher name</th>
    <th>Website</th>
  </tr>

<% @publishers.each do |publisher| %>
  <tr>
    <td><%=h publisher.publisher_name %></td>
    <td><%=h publisher.website %></td>
    <td><%= link_to 'Show', publisher %></td>
    <td><%= link_to 'Edit', edit_publisher_path(publisher) %></td>
    <td><%= link_to 'Destroy', publisher, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New publisher', new_publisher_path %>