<% @title_bar_right_text = '<a href="' + new_publisher_path + '"><img alt="" src="/images/icons/add.png"></a> ' + (link_to "Create New Publisher", new_publisher_path) %>

<% title "Publishers" %>

<br clear="all"/>

<table class="record_listing" width="600" cellspacing="0" cellpadding="0"><!-- Cellspacing/paddding added for IE 6 -->
  <tr class="record_listing_header">
    <th>Site Name</th>
    <th>Brand Safety Level</th>
    <th>Hoptime</th>
    <th>Preview</th>
    <th colspan="4">Actions</th>
  </tr>
  <% for publisher in @publishers %>
  
    <tr class="record_row_<%= cycle("odd", "even")%>">
      <td class="record_column" nowrap ="true">
	<% if publisher.site_url %>
	  <a href="<%=h publisher.site_url %>" target="_blank"><img src="/images/icons/house_link.png"/></a>
	<% end %>
	<%=h publisher.site_name %>
      </td>
      <td class="record_column"><%=h publisher.brand_safety_level ? publisher.brand_safety_level : "-" %></td>
      <td class="record_column"><%=h publisher.hoptime ? publisher.hoptime : "-"%></td>
      <td class="record_column"><%= link_to publisher.tags.length.to_s + " ads", :controller => "publishers", :action => :ad_preview, :id => publisher %></td>
      <td class="record_action"><%= link_to "View", publisher, :action=> :show %></td>
      <td class="record_action"><%= link_to "Edit", edit_publisher_path(publisher) %></td>
      <td class="record_action"><%= link_to "Delete", publisher, :confirm => 'Are you sure?', :method => "delete" %></td>
      <td class="record_action"><%= link_to "Logins", :controller => "publisher_network_logins", :publisher_id => publisher.id %>
    </tr>
  <% end %>
</table>

