<% title "Publisher" %>

<p>
  <strong>Site Name:</strong>
  <%=h @publisher.site_name %>
</p>
<% if !@publisher.site_url.blank? %>
<p>
  <strong>Site Url:</strong>
  <a href="<%=h @publisher.site_url %>" target="_blank"><%=h @publisher.site_url %> <img src="/images/icons/house_link.png"/></a>
</p>
<% end %>
<p>
  <strong>Brand Safety Level:</strong>
  <%=h @publisher.brand_safety_level %>
</p>
<p>
  <strong>Hoptime:</strong>
  <%=h @publisher.hoptime %>
</p>
<p>
  <strong>Cross Domain Iframe Url:</strong>
  <%=h @publisher.xdm_iframe_url %>
</p>

<p>
  <%= link_to "Edit", edit_publisher_path(@publisher) %> |
  <%= link_to "Delete", @publisher, :confirm => 'Are you sure?', :method => :delete, :action => "destroy" %> |
  <%= link_to "View All", publishers_path %>
</p>
