<h1>New tag</h1>
<%
    # Get a list of enabled networks
    @networks = Network.find :all, :conditions => {:enabled => true}
    if @current_user.admin?
        @publishers = Publisher.find :all;
    end

    # Get a list of Ad formats
    @adformats = Adformat.find :all, :order => :format_name
%>

<% form_for(@tag) do |f| %>
  <%= f.error_messages %>

  <% if @current_user.admin? %>
    <p>
      <%= f.label :publisher %><br />    <%= collection_select(:tag, :publisher_id, @publishers, :id, :publisher_name, :include_blank => true) %>
    </p>
  <% end %>
  <p>
    <%= f.label :network %><br />
    <%= collection_select(:tag, :network_id, @networks, :id, :network_name, :include_blank => true) %>
  </p>
  <p>
    <%= f.label :ad_format %><br />
    <%= select("tag", "size", Adformat.all.collect {|af| [ af.name_with_size, af.size ] }, {:include_blank => true}) %>

  </p>
  <p>
    <%= f.label :tag_name %><br />
    <%= f.text_field :tag_name %>
  </p>
  <p>
    <%= f.label :enabled %><br />
    <%= f.check_box :enabled %>
  </p>
  <p>
    <%= f.label :always_fill %><br />
    <%= f.check_box :always_fill %>
  </p>
  <p>
    <%= f.label :tier %><br />
    <%= f.text_field :tier %>
  </p>
  <p>
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </p>
  <p>
    <%= f.label :sample_rate %><br />
    <%= f.text_field :sample_rate %>
  </p>
  <p>
    <%= f.label :frequency_cap %><br />
    <%= f.text_field :frequency_cap %>
  </p>
  <p>
    <%= f.label :rejection_cap %><br />
    <%= f.text_field :rejection_cap %>
  </p>
  <p>
    <%= f.label :rejection_time %><br />
    <%= f.text_field :rejection_time %>
  </p>
  <p>
    <%= f.label :tag %><br />
    <%= f.text_area :tag %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', tags_path %>
