<h1>Editing network_option</h1>

<% form_for(@network_option) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :option_name %><br />
    <%= f.text_field :option_name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @network_option %> |
<%= link_to 'Back', network_options_path %>