<h1>New network_option</h1>

<% form_for(@network_option) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :option_name %><br />
    <%= f.text_field :option_name %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', network_options_path %>